
[submodule "challenge05/c/wasi-lab"]
	path = challenge05/c/wasi-lab
	url = https://github.com/iwate/wasi-lab.git
[submodule "challenge06/c/wasi-lab"]
	path = challenge06/c/wasi-lab
	url = https://github.com/iwate/wasi-lab.git
